In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib.dates as mdates
import seaborn as sns
import plotly

In [2]:
df = pd.read_csv("Bond Price.csv")
df.head()

       Date  Price Percentage  Price.1
0  1/5/2024  4.681         5%   95.319
1  1/4/2024  4.784         5%   95.216
2  1/3/2024  4.349         4%   95.651
3  1/2/2024  4.382         4%   95.618
4  1/1/2024  4.173         4%   95.827

In [4]:
df.set_index("Date", inplace=True)

In [5]:
df.head()

          Price Percentage  Price.1
Date
1/5/2024  4.681         5%   95.319
1/4/2024  4.784         5%   95.216
1/3/2024  4.349         4%   95.651
1/2/2024  4.382         4%   95.618
1/1/2024  4.173         4%   95.827

In [ ]:
fv = 1000
year_to_maturity = 30